.footer-wrapper{
    bottom:0;  
}
.footer-bg{
    margin-top: 100px;
    height: 445px;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
}
.rectangle-1,
.rectangle-2,
.rectangle-3
{
    width: 274px;
    height: 383px;
    border-radius: 65px;
    border: 1px solid #000;
    background: #D9D9D9;
    box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.47);
    justify-content: space-around;
    margin-left: -500px;

}