body{
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
}
.text-container{
    width: 566px;
    height: 142px;
    margin-left: 170px;
    margin-top: 220px;
    position: relative;
    z-index: 2;
}
.text-container h2{
    color: #C33C5C;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.8px;
}
.botanical-1,
.botanical-2
{
    position: absolute;
    top:0;
    left:0;
}
.botanical-1 img
{
    height: 120px;
    transform: rotate(198deg);
}

.botanical-1{
    top:240px;
    left:90px;
}

.botanical-2 img{
    height: 120px;
    transform: rotate(15deg);
    position: relative;
    z-index: 2;

}
.botanical-2{
    top: 360px;
    left: 682px;
}
.button-container{
    border-radius: 15px;
    background: #F4CC21;
    width: 249px;
    height: 44px;
    margin-left: 325px;
    margin-top: 35px;
    position: relative;
    z-index: 2;
    align-items: center;
    box-shadow: none;
}

.button-container a{
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 28px;
    margin-left: 64px;
    padding-top: 15px;
    cursor: pointer;
    letter-spacing: none;
    
}
.button-container:hover{
    box-shadow: 2px -4px 3px 0px rgba(0, 0, 0, 0.37) ;
    
}
.button-container a:hover{
    letter-spacing: 3px;

}