body{
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
}
.text-container{
    width: 566px;
    height: 142px;
    margin-left: 170px;
    margin-top: 195px;
    position: relative;
    z-index: 2;
}
.text-container h2{
    color: #C33C5C;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.8px;
}
.botanical-1,
.botanical-2
{
    position: absolute;
    top:0;
    left:0;
}
.botanical-1 img
{
    height: 189px;
    width: 184px;
    transform: rotate(198deg);
}

.botanical-1{
    top:200px;
    left:60px;
}

.botanical-2 img{
    height: 189px;
    width: 184px;
    transform: rotate(19deg);
    position: relative;
    z-index: 2;

}
.botanical-2{
    top: 320px;
    left: 622px;
}
.button-container{
    border-radius: 15px;
    background: #F4CC21;
    width: 249px;
    height: 64px;
    margin-left: 325px;
    margin-top: 25px;
    position: relative;
    z-index: 2;
    align-items: center;
}

.button-container a{
    color: white;
    font-weight: 600;
    font-size: 28px;
    padding: 60px;
    cursor: pointer;
    
}